<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
	<title>Main Handlebars</title>
</head>
<body>
	<div id="container">
		<h1>Headline News</h1>
		<div id="notes"></div>
		{{{body}}}
	</div>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<scricpt src="/assets/js/app.js"></script>



</body>
</html>