<div id="headlines">
{{!-- 	<p>Test:{{{headline}}}</p> --}}
	{{#each headline}}
		<h3><a href={{this.link}} target="_blank">{{this.title}}</a></h3>
		<p>{{this.summary}}</p>
		<form>
			<textarea id="titleinput">Note title</textarea>
			<textarea id="bodyinput">Add a note...</textarea>
			<button id="savenote">Add a note</button>
		</form>
	
	{{/each}}

</div>
