<div id="headlines">
{{!-- 	<p>Test:{{{headline}}}</p> --}}
	{{#each headline}}
		<h3><a href={{this.link}} target="_blank">{{this.title}}</a></h3>
		<p>{{this.summary}}<p>
		<button id="article">Save this Article</button>
		<button id="note">Add a note</button>
	{{/each}}

</div>
